.productCart {
    display: inline-block;
    cursor: pointer;
}

.productCart .button{
    background-color: white;
}

.productCart .img{
    display: inline-block;    
}

.productCart:hover{
    background-color: #fce808;
    background-color: opacity 0.55;
}

