* {box-sizing: border-box;}

.boxFrame {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #edcaca;
}

.columnCart {
    float: center;
    padding: 0 15px;
    width: 25%;
}

.row{
    margin: 0 -10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.infoStyle {
   font-size: 1rem; 
    border: 3px solid black;
    border-radius: 7px;
    
}

.button {
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 25px
    color: black;
    opacity: 0.6;
    background-color: #fff;
    transition-duration: 0.3s;
    text-align: center;

}


.button:hover {
    
    background-color: #4CAF50;
    opacity: 1;
    
}

.button:active{
    transform: translateY(5px);
}


