* {box-sizing: border-box;}

.boxFrame {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #edcaca;
}

.columnCart{
    float: bottom;
    padding: 0 15px;
    width: 30%;
}



