* {box-sizing: border-box;}

.boxFrame {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;  
  background: linear-gradient(rgba(148,187,233,1), rgba(238,174,202,1));
  border-radius: 10px;
  

}

.columnCart {
    float: center;
    padding: 0 15px;
    width: 25%;
}

.row{
    margin: 0 -10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.imageEffect{
    position: relative;
}

.imageEffect:hover {
    visibility: visible;
    transform: scale(1.3); 
    
}

#infoSection {
    display: inline-block;
    padding-left: 5px;
    resize: none;
    text-align: left;
    list-style-type: square;
}

#infoSection li {
    display: inline-block;
}




.infoStyle {
    display: inline-block;
    cursor: pointer;

    font-size: 20px; 
    border: 3px solid black;
    border-radius: 10px;
    border-opacity: 0.7;
}

.infoStyle:hover{
    background-color: #fce808;
    background-color: opacity 0.5;
}


.button {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 25px;
    opacity: 0.7;
    transition: background-color 0.3s;  

}

.buttonRemove .button{
    background-color: red;
}


.button:hover {
    
    background-color: #4CAF50;
    opacity: 1;
    
}
.button:active {
    background-color: #4CAF50;
    transform: translateY(4px);
}




