.profileStyle{
    display: flex;
    cursor: pointer;
    height: 3.5rem;
    width: auto; 
}

.profileStyle:hover{
    transform: scale(1.1);
}

nav {
    background-color: #ffff;
    padding: 0 2rem; 
    border-radius: 0.6rem;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    alignt-items: center;
    gap: 2rem;
    
}

li{
    position: relative; 
    padding: 0.5rem 0 0rem;
    list-style-type: none;
    
}

li ul {
    position: absolute; 
    flex-direction: column; 
    background-color: white;
    align-items: flex-start;
    padding: 0.35rem 0rem;
    gap: 0;
    display: none; 
    opacity: 0;
}


.submenu_item{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem 0.7rem;
}

ul li:hover > ul, ul li ul:hover{
    position: absolute;
    visability: visable; 
    display: block;
    opacity: 0.99;
    /* display: flex; */
    z-index: 999;
    border: 2px solid #ddd;
    background-color: #deebff;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
