.profileStyle{
    cursor: pointer;
    height: 4rem;
    width: auto; 
}

nav {
    background-color: #ffff;
    padding: 0 4rem; 
    border-radius: 0.6rem;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    alignt-items: center;
    gap: 4rem;
}

li{
    position: relative; 
    padding: 0.5rem 0 0.5rem;
    list-style-type: none;
}

li ul {
    position: absolute; 
    flex-direction: column; 
    background-color: white;
    align-items: flex-start;
    padding: 2rem 0rem;
}

.submenu_item{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    padding: 1.0rem 2.0rem;
}
