.profileStyle{
    display: flex;
    cursor: pointer;
    height: 3.5rem;
    width: auto; 
    z-index: 10;
}

nav {
    background-color: #ffff;
    padding: 0 2rem; 
    border-radius: 0.6rem;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    alignt-items: center;
    gap: 2rem;
}

li{
    position: relative; 
    padding: 0.5rem 0 0.5rem;
    list-style-type: none;
}

li ul { 
    flex-direction: column; 
    background-color: white;
    align-items: flex-start;
    padding: 1rem 0rem;
    gap: 0;
    display: none; 
    opacity: 0;
}

.submenu_item{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    padding: 0.5rem 0rem;
}

ul li:hover > ul, ul li ul:hover{
    visability: visable; 
    display: inline-block;
    opacity: 0.9;
    display: flex;
    z-index: 1;
}
